*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color:#FFEDD5;
    font-family:"roboto", sans-serif;
  }
  
  ul{
    list-style: none;
  }
  header{
  padding: 32px 0;
   text-align: center;
  }
  header,
  section{
    max-width: 300px;
    
    margin: 0 auto;
  }
  
  heder h1{
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
  }
  
  header p{
  font-size: 14px;
  line-height: 16px;
  }
  
  header h1 span{
    color: #995000;  
  }
  section{
    margin-bottom: 24px;
  }
  section h2{
    background-color: #FED7AA;
    padding: 8px 16px;
    text-align: center;
  
    margin-bottom: 24px;
    font-size: 18px;
  }
  ul li{
    margin-bottom: 16px;
    display: flex;
  }
  
  /* Fontes */
  h1,h2,h3 .price {
    font-family: "roboto serif", sans-serif;
    text-transform: uppercase;
    color: #2d2c2a;
  
  }
  li.details{
    max-width: 240px;
  }
  h3.details{
    margin-bottom: 8px;
    font-size: 16px;
    line-height:19px;
  
  }
  .details p{
  color: rgba(0,0,0, 0.6);
  font-size: 14px;
  line-height: 21px;
  }
  